<!DOCTYPE html>
<html lang="zh-cn">

<%- include("./public/head.ejs")%>

    <body>
        <%- include("./public/header.ejs")%>
            <section class="main floatfix">
                <%- include("./public/aside.ejs")%>
                    <section class="main-articles about">
                        <h2>关于我</h2>
                        <p>xxxxxxxxxxxxxxxxxxxx</p>
                    </section>
            </section>
            <%- include("./public/footer.ejs")%>
    </body>

</html>