<!DOCTYPE html>
<html lang="zh-cn">

<%- include("./public/head.ejs")%>

    <body>
        <%- include("./public/header.ejs")%>
            <section class="main floatfix">
                <%- include("./public/aside.ejs")%>
                    <section class="main-articles friends">
                        <h2>友情链接</h2>
                        <ul class="floatfix">
                            <li><a href="##">Github</a></li>
                            <li><a href="##">CNode</a></li>
                            <li><a href="##">Google</a></li>
                            <li><a href="##">SegmentFault</a></li>
                            <li><a href="##">NPM</a></li>
                            <li><a href="##">RUBY</a></li>
                            <li><a href="##">W3CSchool</a></li>
                            <li><a href="##">MDN</a></li>
                        </ul>
                    </section>
            </section>
            <%- include("./public/footer.ejs")%>
    </body>

</html>