<!DOCTYPE html>
<html lang="zh-cn">

<%- include("./public/head.ejs")%>

    <body>
        <%- include("./public/header.ejs")%>
            <section class="main floatfix">
                <%- include("./public/aside.ejs")%>
                    <section class="main-articles friends">
                        <h2>友情链接</h2>
                        <ul class="floatfix">
                            <li>Github</li>
                            <li>CNode</li>
                            <li>Google</li>
                            <li>SegmentFault</li>
                            <li>NPM</li>
                            <li>RUBY</li>
                            <li>W3CSchool</li>
                            <li>MDN</li>
                        </ul>
                    </section>
            </section>
            <%- include("./public/footer.ejs")%>
    </body>

</html>